code_generation: false
formatter.name: nyan.cat
stop-on-failure: true
suites:
    sfo_suite:
        namespace: SaveFileOperations
        psr4_prefix: SaveFileOperations
        spec_path: %paths.config%/specs
        spec_prefix: Spec
        src_path: %paths.config%/src
extensions:
    PhpSpec\NyanFormattersExtension\Extension: ~
